.root-grid{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 300px);
}


@media only screen and (max-width: 900px)  {
  .root-grid {
    display: flex;
    flex-direction: column;
  }
}
