@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to StreamIt</h1>

@_name

@code {
    private string _name;
    protected async override void OnInitialized()
    {
        _name = "StreamIt";
    }  
}
