@using System.Text.Json
@using System.Text.Json.Serialization
@using frontend_blazor.Utils
@using frontend_blazor.Models
@inject IHttpClientFactory ClientFactory
@inject IConfiguration Configuration
@attribute [StreamRendering]

@if (TeamsData.Count > 1 && MatchData is not null)
{
  <div class="root-div flex flex-col">
  <div class="flex flex-row gap-2 p-4 my-2 border border-black">
    <div class="flex flex-col gap-2">
      <div>
        <img class="country-image" src=@TeamsData[0].ImagePath />
      </div>

      <div>
        <img class="country-image" src=@TeamsData[1].ImagePath />
      </div>
    </div>
    <div class="flex-col">
      <a href="/stream/@MatchData.FileId">
        <div>
          <strong>@TeamsData[0].Name vs @TeamsData[1].Name</strong>
        </div>
      </a>
      <small>
        Date - @MatchData.Date
      </small>
    </div>
  </div>
</div>
}


@code {
  [Parameter]
  public Match? MatchData {get; set;}

  string Team1 = "";
  string Team2 = "";
  List<Team> TeamsData = new List<Team>();
  
  protected async override void OnParametersSet()
  {
    TeamsData.Clear();
    await LoadTeamsData();
    StateHasChanged();
  }

  async Task LoadTeamsData() {
    string? TeamsUrl = Configuration["Urls:Teams"];
    if (MatchData is not null){
      if (MatchData.Teams?.ToList<string>().Count > 1)
      {
        Team1 = MatchData.Teams.ToList<string>()[0];
        Team2 = MatchData.Teams.ToList<string>()[1];
      }

      var client = new HttpClient();
      if (MatchData.Teams is null) {
        return;
      }
      foreach (var TeamName in MatchData.Teams)
      {
        try{
          string teamDataUrl = $"{TeamsUrl}/{TeamName.ToLower()}";
          string TeamDataString = await client.GetStringAsync(teamDataUrl);
          Team? TeamData = JsonSerializer.Deserialize<Team>(TeamDataString);
          if (TeamData != null)
          {
            TeamsData.Add(TeamData);
          }
        }
        catch (HttpRequestException e) {
          Console.WriteLine("Exception occured while Getting Team Data");
          Console.WriteLine("StatusCode Returned: ", e.StatusCode);
        }
      }
    }
  }

  protected async override Task OnInitializedAsync()
  {
    TeamsData.Clear();
    await LoadTeamsData();
    StateHasChanged();
  }
}
