.root-div{
  display: flex;
  width: 300px;
  max-width: 400px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.country-image {
  height: 30px;
  width: 50px;
}
